*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #e6e6e6;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.big{
    width: 1180px;
    height: 3560px;
    background-color: #fdfcf5;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 40px;
    z-index: -10;
}
nav{
    position: absolute;
    top: 120px;
    right: 100px;
    z-index: 20;
    border-bottom: 2px solid #e6e6e6;
}
nav p{
    color: #637082;
    letter-spacing: 3px;
    font-size: 16px;
}
a{
    text-decoration:none;
    color: #637082;
}
a:hover{
    color: #263344;
    font-weight: 700;
}

/*Info========================================*/
.s1{
    height: 800px;
    width: 1200px;
    position: relative;
    top: 20px;
    /*background-color: #cfcfce;*/
}
.b1{
    position: absolute;
    top: 40px;
    left: 180px;
}
.title h1{
    font-size: 46px;
    letter-spacing: 5px;
    position: relative;
    left: -50px;
    top: -20px;
    z-index: 1;
}
.cb1{
    width: 250px;
    height: 45px;
    background-color: #c9dbed;
    position: relative;
    top: -90px;
    left: -65px;
}
.p1{
    position: relative;
    margin-top: 0px;
    z-index: 1;
}
.p1 img{
    width: 300px;
    border-radius: 50%;
}
.pic-aft{
    position: absolute; 
    left: 0px;
    opacity: 0;
    transition: opacity .3s;
}
.p1:hover .pic-aft{
    opacity: 1;
}
.t1{
    margin-top: 50px;
    text-align: center;
}
.t1 h1{
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 10px;
    margin: 0px;
}
.t1 h2{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.t1 p{
    font-size: 14px;
    letter-spacing: 4px;
}
.bgc1{
    width: 295px;
    height: 295px;
    border-radius: 50%;
    background-color: #c9dbed;
    position: absolute;
    top: 190px;
    left: 40px;
}
.b2{
    position: absolute;
    top: 220px;
    left: 600px;
    width: 450px;
    height: 560px;
    /*background-color: rgb(238, 238, 238);*/
    padding-left: 40px;
}
.t2{
    margin-left: -5px;
}
.t2 h1{
    font-size: 40px;
    margin: 0px;
}
.t2 p{
    font-size: 16px;
    letter-spacing: 4px;
    margin: 0px;
    position: relative;
    left: 30px;
    transition: .3s;
    z-index: 1;
    width: 350px;
}
.t2 p:hover{
    letter-spacing: 5px;
}
.t2 img{
    width: 410px;
    position: absolute;
    top: 10px;
    left: 0px;
    opacity: 0;
}
.t2 p:hover +img{
    opacity: 0.75;
}

.t3{
    margin-top: 45px;
    margin-left: 20px;
}
.t3 h1{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
.t3 h1 span{
    font-size: 16px;
}
.t4{
    display: flex;
}
.t4 p{
    font-size: 16px;
    letter-spacing: 2px;
}
.t4 .tleft{
    width: 130px;
    font-weight: bold;
}
.t4 img{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    margin-top:15px;
}


/*Skill===========================================*/
.s2{
    height: 590px;
    /*background-color: #fff;*/
}
/*pie chart==================================*/
.b3{
    position: absolute;
    left: 100px;
    margin-top: 50px;
}
.b3 p{
    letter-spacing: 1px;
}
.b3 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b3 h1 span{
    font-size: 16px;
}
.b-skills
{
	text-align: center;
}
.b-skills:last-child { margin-bottom: -30px; }
.skill-item
{
	position: relative;
	max-width: 130px;
	width: 100%;
	margin-bottom: 30px;
	color: rgb(63, 63, 63);
}
.chart-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-bottom: 27px;
}
.skill-item .chart,
.skill-item .chart canvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.skill-item .chart:before
{
	content: "";
	width: 0;
	height: 100%;
}
.skill-item .chart:before,
.skill-item .percent
{
	display: inline-block;
	vertical-align: middle;
}
.skill-item .percent
{
	position: relative;
	font-size: 30px;
	font-weight: 700;
    letter-spacing: 2px;
	z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}
.skill-item  .percent:after
{
	content: attr(data-after);
	font-size: 16px;
}
.pie1{
    position: relative;
    top: 30px;
    left: 20px;

}
.pie2{
    position: relative;
    top: -148px;
    left: 200px;
}
.pie3{
    position: relative;
    top: -120px;
    left: 20px;
}
.pie4{
    position: relative;
    top: -298px;
    left: 200px;
}

/*skill bar===============================*/
.b4{
    position: absolute;
    left: 610px;
    margin-top: 50px;
    width: 450px;
    height: 480px;
}
.b4 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b4 h1 span{
    font-size: 16px;
}
.b-bar{
    margin-top: 40px;
    letter-spacing: 2px;
}
.b-bar p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.progress{
    width: 100%;
    height: 22px; /*軸寬度*/
    background-color: #D0D0D0;
    border-radius: 10px;
}
.progress .progress-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    background-color: #9FAFC5;
    border-radius: 10px;
    position: relative;
    transition: all 2s;
    font-family: Arial, Helvetica, sans-serif;
}
.progress-bar span{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 2px;
    margin-right: 5px;
}



/*歷程時間軸=========================================*/
.bb7{
    display: flex;
}
.s3{
    height: 1070px;
    /*background-color: rgb(206, 206, 206);*/
}
.b5{
    position: relative;
    top: 30px;
    left: 100px;
    height: 320px;
    width: 450px;
    /*background-color: lightcoral;*/
}
.b5 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b5 h1 span{
    font-size: 16px;
}
.b5 img{
    height: 240px;
    position: relative;
    top: 10px;
}
.b6{
    position: relative;
    left: 100px;
    top: 50px;
    width: 450px;
    height: 300px;
    /*background-color: rosybrown;*/
}
.b6 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b6 h1 span{
    font-size: 16px;
}
.b6 img{
    height: 220px;
    position: relative;
    top: 10px;
}
.b7{
    position: relative;
    left: 100px;
    top: 70px;
    height: 280px;
    width: 450px;
    /*background-color: royalblue;*/
}
.b7 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b7 h1 span{
    font-size: 16px;
}
.b7 img{
    height: 220px;
    position: relative;
    top: 10px;
}
table {
    /*border: 1px solid;*/
    border-collapse: collapse;
    width: 420px;
    height: 70px;
    border-radius: 10px;
    letter-spacing: 2px;
    line-height: 22px;
    transition: .3s;
}
td{
    /*border: 1px solid;*/
    vertical-align: text-top; /*文字靠上對齊*/
    padding-top: 8px;
    padding-left: 13px;
}
.bg:hover{
    border-radius: 10px;
    background-color: #B4C5D9;
}
.th{
    width: 120px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}
.tp{
    font-size: 17px;
}
.tp .small{
    font-size: 15px;
}

.b5 table{
    position: relative;
    left: 25px;
    top: -213px;
    margin-bottom: 18px;
    height: 60px;
}
.b6 table{
    position: relative;
    left: 25px;
    top: -191px;
    margin-bottom: 18px;
    height: 82px;
}
.b7 table{
    position: relative;
    left: 25px;
    top: -191px;
    margin-bottom: 18px;
    height: 82px;
}



/*學習經歷===========================================*/
.b8{
    width: 480px;
    height: 950px;
    position: relative;
    left: 160px;
    top: 30px;
    /*background-color: lightblue;*/
}
.b8 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b8 h1 span{
    font-size: 16px;
}
.b8 img{
    width: 480px;
    border-radius: 10px;
}
.b8 h2{
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.b8 p{
    letter-spacing: 1px;
    line-height: 25px;
}
.c1{
    margin-top: 40px;
}
.c1-p2{
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: .3s;
}
.c2{
    margin-top: 50px;
}
.c2-p2{
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: .3s;
}
.b8-icon-1 img{
    opacity: 0;
}
.c1:hover p span{
    background-color: rgb(247, 240, 144);
    font-weight: 800;
}
.c1:hover .b8-icon-1 img{
    opacity: 1;
}
.c1:hover .c1-p2{
    opacity: 1;
}
.b8-icon-2 img{
    opacity: 0;
}
.c2:hover p span{
    background-color: rgb(247, 240, 144);
    font-weight: 800;
}
.c2:hover .b8-icon-2 img{
    opacity: 1;
}
.c2:hover .c2-p2{
    opacity: 1;
}


/*作品集================================================*/
.s4{
    height: 930px;
    /*background-color: thistle;*/
}
.b9{
    width: 980px;
    height: 850px;
    position: relative;
    left: 100px;
    top: 50px;
    /*background-color: lightblue;*/
}
.b9 h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.b9 h1 span{
    font-size: 16px;
}
.b9 h2{
    font-size: 18px;
    letter-spacing: 2px;
    transition: .5s;
}
.b9 p{
    width: 360px;
    letter-spacing: 1px;
    line-height: 24px;
}
.port-1 img{
    width: 500px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: transform .4s;
    box-shadow:3px 3px 12px #C2C2C2;
}
.port-1 img:hover{
    transform: scale(1.1);
}
.port-2 img{
    width: 500px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: transform .4s;
    box-shadow:3px 3px 12px #C2C2C2;
}
.port-2 img:hover{
    transform: scale(1.1);
}
.port-1{
    /*background-color: #e1edfa;*/
    border-radius: 20px;
    width: 900px;
    height: 305px;
    margin-top: 60px;
    margin-left: 40px;
}
.port-1 h2{
    position: absolute;
    left: 600px;
    top: 100px;
}
.port-1:hover h2{
    letter-spacing: 8px;
    left: 668px;
}
.port-1 p{
    position:absolute;
    left: 600px;
    top: 150px;
}
.port-1 p span{
    font-size: 15px;
}
.port-1:hover span{
    color: #3A5471;
}
.port-2{
    /*background-color: #e1edfa;*/
    width: 900px;
    height: 305px;
    margin-top: 80px;
    margin-left: 40px;  
}
.port-2 h2{
    position: absolute;
    left: 600px;
    top: 485px;
}
.port-2:hover h2{
    letter-spacing: 8px;
    left: 666px;
}
.port-2 p{
    position:absolute;
    left: 600px;
    top: 535px;
}
.port-2 p span{
    font-size: 15px;
}
.port-2:hover span{
    color: #3A5471;
}

.port-1 .bt{
    background-color: #9FAFC5;
    color: #fff;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    position: relative;
    left: 810px;
    top: -50px;
    letter-spacing: 2px;
    transition: transform .4s;
}
.bt:hover{
    transform: scale(1.05);
    box-shadow:3px 3px 12px #C2C2C2;
}
.port-2 .bt{
    background-color: #9FAFC5;
    color: #fff;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    position: relative;
    left: 810px;
    top: -50px;
    letter-spacing: 2px;
    transition: transform .4s;
}
.bt-c img{
    opacity: 0;
}
.port-1:hover +.bt-c img{
    opacity: 1;
}
.port-2:hover +.bt-c img{
    opacity: 1;
}

/*footer===============================*/
.foot{
    width: 1180px;
    height: 100px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #9FAFC5;
    padding-top: 20px;
}
.foot p{
    font-size: 13px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
}